src/main/mule/swiggy-orders-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="swiggy-orders-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="swiggy-orders-sapi-config" api="resource::d0205d5f-f064-4d78-b0f0-1e4d55cdf281:swiggy-orders-sapi:1.0.5:raml:zip:swiggy-orders-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="swiggy-orders-sapi-main">
        <http:listener config-ref="swiggy-orders-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="swiggy-orders-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="swiggy-orders-sapi-console">
        <http:listener config-ref="swiggy-orders-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="swiggy-orders-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\orders\(orderId)\orderItems\(id):swiggy-orders-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.'orderId'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteOrderItemByOrderItemId" doc:id="a794f0f9-3afe-45c5-a60b-c5323228e5a0" name="deleteOrderItemByOrderItemId"/>
		<logger level="INFO" message="delete:\orders\(orderId)\orderItems\(id):swiggy-orders-sapi-config" />
		<ee:transform doc:name="Transform Message1" doc:id="07eefbdc-3f1d-4d3a-bc01-7dbb9dc3d774" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(payload ==1){
  status: "200",
  message: "OrderItem with id " ++ vars.id ++ " is Deleted"
}else{
  status: "404",
  message: "OrderItem with id " ++ vars.id ++ " is Not found"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
if(payload >=1) "200" else  "404"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
    </flow>
    <flow name="get:\orders\(orderId)\orderItems:swiggy-orders-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.'orderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="findOrderByOrderId" doc:id="d578b096-0de7-430c-bcad-7a17ea0c95c4" name="findOrderByOrderId"/>
		<flow-ref doc:name="getOrderItemsByOrderId" doc:id="1f9dff2b-0ddf-4fca-9d8d-a379ba3902ec" name="getOrderItemsByOrderId" />
        <logger level="INFO" message="get:\orders\(orderId)\orderItems:swiggy-orders-sapi-config" />
    </flow>
    <flow name="get:\customers\(id)\orders:swiggy-orders-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getAllOrdersOfACustomer" doc:id="f57d69e8-43cf-49f5-b950-47d4546295ec" name="getAllOrdersOfACustomer" />
        <logger level="INFO" message="get:\customers\(id)\orders:swiggy-orders-sapi-config" />
    </flow>
    <flow name="get:\orders:swiggy-orders-sapi-config">
        <flow-ref doc:name="getallorders" doc:id="720b6b4a-7589-42b6-86aa-6602278f59dd" name="getallorders" />
        <logger level="INFO" message="get:\orders:swiggy-orders-sapi-config" />
    </flow>
    <flow name="get:\orders\(orderId)\orderItems\(id):swiggy-orders-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.'orderId'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getOrderItemByOrderItemIdandOrderId" doc:id="48a4e5aa-4c7f-4b1c-af4e-414dc82e816a" name="getOrderItemByOrderItemIdandOrderId" />
        <ee:transform doc:name="Transform Message" doc:id="10d6bfb3-4953-4b54-aa40-d15de015e9cd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
      
{
  "menuId": payload.menu_Id,
  "menuItemId": payload.menu_item_id,
  "orderItemId": payload.order_item_id,
  "orderId": payload.order_id,
  "orderItemPrice": payload.order_item_price,
  "restaurantId": payload.restaurant_id,
  "quantity": payload.quantity
}

    ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\orders\(orderId)\orderItems\(id):swiggy-orders-sapi-config" />
    </flow>
    <flow name="get:\orders\(orderId):swiggy-orders-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.'orderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getOrderByOrderId" doc:id="adb314ae-1c7e-4ccc-a3ab-a017d90ff9c5" name="getOrderByOrderId" />
    </flow>
    <flow name="post:\orders\(orderId)\orderItems:application\json:swiggy-orders-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="orderId"><![CDATA[attributes.uriParams.'orderId']]></ee:set-variable>
                <ee:set-variable variableName="inputOrderItem"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="AddOrderItemToOrder" doc:id="2408be32-d71a-4c43-920a-7b8cf7e0157f" name="AddOrderItemToOrder" />
        <ee:transform doc:name="Transform Message" doc:id="4b118eb3-8ebe-4772-b141-b0e33398a2d3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	orderItemId: vars.insertresult.generatedKeys.GENERATED_KEY
} ++  vars.inputOrderItem]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	location: "/api/orders/" ++ vars.insertresult.generatedKeys.GENERATED_KEY as String
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\orders\(orderId)\orderItems:application\json:swiggy-orders-sapi-config" />
    </flow>
    <flow name="post:\orders:application\json:swiggy-orders-sapi-config">
        <flow-ref doc:name="AddOrder" doc:id="878abdcd-67b2-473e-87fc-f61b0de46bc1" name="AddOrder" />
        <ee:transform doc:name="Set Location Header and response Order" doc:id="c9c2c15d-5de5-4ca8-be29-ec8f05c21093">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	orderId: vars.orderId
} ++  vars.inputOrder]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	location: "/api/orders/" ++ 
				(vars.orderId as String) default ""
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\orders:application\json:swiggy-orders-sapi-config" />
    </flow>
    <flow name="delete:\orders\(orderId):swiggy-orders-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.'orderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteorderbyoyderid" doc:id="f1272d96-aa7d-41ff-a256-c293a16313fa" name="deleteorderbyoyderid"/>
		<logger level="INFO" message="delete:\orders\(orderId):swiggy-orders-sapi-config" />
		<ee:transform doc:name="Transform Message1" doc:id="d140ba7a-8b6b-493a-b971-1da6223b03a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(payload ==1){
  status: "200",
  message: "Order with id " ++ vars.orderId ++ " is Deleted"
}else{
  status: "404",
  message: "Order with id " ++ vars.orderId ++ " is Not found"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
if(payload >=1) "200" else  "404"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
    </flow>
</mule>
